<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="ph" class="ex08.ProtocolHandler">
		<property name="filters">
			<list>
				<ref bean="encryptionFilter" />
				<ref bean="zipFilter" />
				<bean class="ex08.HeadFilter"></bean>
			</list>
		</property>
	</bean>
	<bean id="zipFilter" class="ex08.ZipFilter"></bean>
	<bean id="encryptionFilter" class="ex08.EncryptionFilter"></bean>
</beans>
